extends layout

block content
    form(action='/services/projects/create', method='POST', enctype='multipart/form-data')
        .row
            input(name='title')
        .row
            input(name='description')
        .row
            input(name='image', type='file')
        .row
            input(name='url')
        .row
            input(name='name')
        each technology in technologies
            label #{technology.title}
                input(type='checkbox', name='technologies', value='#{technology.id}')
                br
        .row
            input(type='submit')