@project_item_padding: 10px;
@lines_to_show: 3;
@font_size: 1rem;
@line_height: 1;

.projects {
  margin-top: 20px;
  .spinner();
}

.projects__list {
  .list();

  .bp(@tablet, {
    .clearfix();
    margin: 0 -@project_item_padding;
  });

  .bp(@desktop, {
    .clearfix();
    margin: 0 -@project_item_padding;
  });
}

.projects__item {
  margin-bottom: 10px;

  .bp(@tablet, {
    display: inline-block;
    width: 50%;
  });

  .bp(@desktop, {
    margin-bottom: 0;
    display: inline-block;
    width: 25%;
  });
}

.projects__item__inner {
  padding: @project_item_padding;
}

.projects__item__link {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.projects__item__description {
  display: none;

  .bp(@desktop, {
    display: block;
    display: -webkit-box;
    height: @line_height * @lines_to_show * @font_size;
    margin-bottom: 10px;
    font-size: @font_size;
    line-height: @line_height;
    -webkit-line-clamp: @lines_to_show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  });
}

.projects__item__image-box {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.projects__item__image {
  .image();
  transition: opacity, .25s, ease;

  &_state {
    &_loading {
      opacity: 0;
    }
  }
}