@img_size: 300px;
@img_size_desktop: 400px;

.project-details {
  .clearfix();
}

.project-details__link {
  display: block;
  max-height: 160px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: width, 0.25s, ease;

  .bp(@tablet, {
    float: left;
    width: @img_size;
    max-height: @img_size;
    margin-bottom: 0;
  });

  .bp(@desktop, {
    float: left;
    width: @img_size_desktop;
    max-height: @img_size_desktop;
  });
}

.project-details__image {
  .image();
}

.project-details__technologies {
  overflow: hidden;
}

.project-details__technologies__list {
  float: left;
  width: 33.3%;
  margin-top: 0;
}

.project-details__technologies__list__item {

}

.project-details__description {
  transition: margin-left, 0.25s, ease;

  .bp(@tablet, {
    margin-left: @img_size + 20px;
  });

  .bp(@desktop, {
    margin-left: @img_size_desktop + 20px;
  });
}