@project_item_padding: 10px;

.projects {
  .list();
  margin: 0 -@project_item_padding;
  .clearfix();

  &_state {
    &_loading {
      background: #bbb;
    }
  }
}

.projects__item {
  display: inline-block;
  width: 25%;
}

.projects__item__inner {
  padding: @project_item_padding;
}

.projects__item__link {
  display: inline-block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  vertical-align: top;
}

.projects__item__image {
  .image();
}