@project_item_padding: 10px;

.projects {
  .list();
  margin: 0 -@project_item_padding;
  .clearfix();
}

.projects__item {
  float: left;
  width: 25%;
}

.projects__item__inner {
  padding: @project_item_padding;
}

.projects__item__image {
  .image();
}