// Paul Irish recommendation
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .layout {
  height: 100%;
}

body {
  background: #1da196;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

h2 {
  margin: 0 0 1em;
  text-align: center;
  color: #000;
}

h3 {
  margin: 0 0 .75em;
}

p {
  white-space: pre-line;
}

a {
  color: #fff;
}

.layout {
  .clearfix();
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px 10px;
}

.layout__inner {
  position: relative;
  min-height: 100%;
  margin-bottom: -@footerHeight;
  &:after {
    content: '';
    display: block;
    height: @footerHeight;
  }
}

.main {
  margin-bottom: 40px;
}