@font-face {
	font-family: "Flaticon";
	src: url("/src/styles/icons/flaticon.eot");
	src: url("/src/styles/icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("/src/styles/icons/flaticon.woff") format("woff"),
	url("/src/styles/icons/flaticon.ttf") format("truetype"),
	url("/src/styles/icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.contacts__item:before,
.contacts__item:after, {
	font-family: Flaticon;
        font-size: 48px;
font-style: normal;
}.contacts__item_skype:before {
	content: "\e000";
}
.contacts__item_facebook:before {
	content: "\e001";
}
.contacts__item_github:before {
	content: "\e002";
}
.contacts__item_gmail:before {
	content: "\e003";
}
.flaticon-logo22:before {
	content: "\e004";
}
